In [17]:
import datetime

import pandas as pd
import yfinance as yf

In [18]:
stock_list = pd.read_excel('US Chinese Stocks.xlsx')

In [182]:
stock_list = stock_list[stock_list.ISIN.notna()]

In [20]:
stock_list['Ticker'] = stock_list['RIC'].str.split('.').str[0]

In [200]:
stock_list=stock_list[stock_list['Type of Equity']=='American Depository Receipt']

In [210]:
stock_list[stock_list['Market Cap (USD)']=='--']

,Issuer,RIC,ISIN,CUSIP/CINS,Type of Equity,Exchange,Ex-Dividend Date,Country of Issuer,Country of Exchange,Market Cap (USD),Ticker
175,Qiniu Ltd,QNIU.NB,US74690C1036,74690C103,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,NaT,China (Mainland),United States,--,QNIU
179,LinkDoc Technology Ltd,LDOC.NB,US53579L1035,53579L103,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,NaT,China (Mainland),United States,--,LDOC
214,Autohome Inc,ATHM.AOI,US05278C1071,05278C107,American Depository Receipt,NYSE AMEX IMBALANCE,NaT,China (Mainland),United States,--,ATHM
215,Hailiang Education Group Inc,HLG.AOI,US40522L1089,40522L108,American Depository Receipt,NYSE AMEX IMBALANCE,NaT,China (Mainland),United States,--,HLG
358,LinkDoc Technology Ltd,LDOC.AOI,US53579L1035,53579L103,American Depository Receipt,NYSE AMEX IMBALANCE,NaT,China (Mainland),United States,--,LDOC
377,Qiniu Ltd,QNIU.AOI,US74690C1036,74690C103,American Depository Receipt,NYSE AMEX IMBALANCE,NaT,China (Mainland),United States,--,QNIU

In [21]:
short_list = stock_list.head(10)

In [22]:
short_list

,Issuer,RIC,ISIN,CUSIP/CINS,Type of Equity,Exchange,Ex-Dividend Date,Country of Issuer,Country of Exchange,Market Cap (USD),Ticker
0,Baidu Inc,BIDU.NB,US0567521085,056752108,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,NaT,China (Mainland),United States,41282919788,BIDU
1,JD.Com Inc,JD.NB,US47215P1066,47215P106,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,2022-05-19,China (Mainland),United States,84524079154,JD
2,Li Auto Inc,LI.NB,US50202M1027,50202M102,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,NaT,China (Mainland),United States,26345041598,LI
3,Pinduoduo Inc,PDD.NB,US7223041028,722304102,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,NaT,China (Mainland),United States,76697634681,PDD
4,NetEase Inc,NTES.NB,US64110W1027,64110W102,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,2022-08-31,China (Mainland),United States,51151440233,NTES
5,Trip.com Group Ltd,TCOM.NB,US89677Q1076,89677Q107,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,NaT,China (Mainland),United States,17687947528,TCOM
6,iQIYI Inc,IQ.NB,US46267X1081,46267X108,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,NaT,China (Mainland),United States,2303486890,IQ
7,Futu Holdings Ltd,FUTU.NB,US36118L1061,36118L106,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,NaT,China (Mainland),United States,5600397105,FUTU
8,Bilibili Inc,BILI.NB,US0900401060,090040106,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,NaT,China (Mainland),United States,6284827804,BILI
9,Weibo Corp,WB.NB,US9485961018,948596101,American Depository Receipt,NASDAQ OMX - NASDAQ BASIC,NaT,China (Mainland),United States,4224675099,WB

In [23]:
stocks = yf.Tickers(list(short_list.Ticker))
stocks.history(period='1mo', interval='1d')

[*********************100%***********************]  10 of 10 completed

                               Close                                         \
                                BIDU       BILI       FUTU    IQ         JD
Date
2022-10-19 00:00:00-04:00  93.269997  11.030000  34.070000  2.13  41.220001
2022-10-20 00:00:00-04:00  93.370003  11.070000  34.090000  2.07  42.160000
2022-10-21 00:00:00-04:00  91.230003  11.050000  34.950001  2.03  42.150002
2022-10-24 00:00:00-04:00  79.750000   9.190000  32.180000  2.01  36.660000
2022-10-25 00:00:00-04:00  81.209999   9.930000  32.939999  2.20  37.770000
2022-10-26 00:00:00-04:00  84.190002  10.480000  34.860001  2.20  41.040001
2022-10-27 00:00:00-04:00  80.949997   9.520000  34.459999  2.07  39.500000
2022-10-28 00:00:00-04:00  78.540001   8.950000  33.849998  2.05  37.860001
2022-10-31 00:00:00-04:00  76.570000   8.920000  33.860001  2.02  37.290001
2022-11-01 00:00:00-04:00  78.230003   9.230000  35.500000  2.13  38.439999
2022-11-02 00:00:00-04:00  78.129997   9.260000  36.070000  2.14  39.840000
2022-11-03 00:00:00-04:00  78.150002   9.530000  37.590000  2.19  40.439999
2022-11-04 00:00:00-04:00  85.199997  11.710000  38.910000  2.44  44.380001
2022-11-07 00:00:00-05:00  85.019997  11.820000  40.220001  2.37  44.509998
2022-11-08 00:00:00-05:00  85.190002  11.560000  40.000000  2.27  45.490002
2022-11-09 00:00:00-05:00  79.480003  10.170000  38.610001  2.02  42.459999
2022-11-10 00:00:00-05:00  86.110001  11.710000  42.110001  2.31  46.029999
2022-11-11 00:00:00-05:00  89.459999  12.670000  45.610001  2.75  48.930000
2022-11-14 00:00:00-05:00  91.449997  12.880000  49.009998  2.66  50.849998
2022-11-15 00:00:00-05:00  99.699997  16.280001  53.860001  3.10  54.480000
2022-11-16 00:00:00-05:00  94.750000  15.460000  50.349998  2.85  53.490002
2022-11-17 00:00:00-05:00  99.580002  15.790000  52.259998  2.96  57.520000
2022-11-18 00:00:00-05:00  95.970001  14.720000  50.619999  2.78  56.070000

                                                                              \
                                  LI       NTES        PDD       TCOM     WB
Date
2022-10-19 00:00:00-04:00  16.799999  67.040001  54.490002  22.620001  12.73
2022-10-20 00:00:00-04:00  17.299999  64.690002  55.889999  23.260000  12.65
2022-10-21 00:00:00-04:00  17.770000  62.430000  58.970001  23.940001  12.25
2022-10-24 00:00:00-04:00  14.680000  56.279999  44.459999  20.360001  10.71
2022-10-25 00:00:00-04:00  15.900000  57.320000  47.529999  21.879999  11.30
2022-10-26 00:00:00-04:00  16.270000  58.820000  53.090000  23.320000  12.20
2022-10-27 00:00:00-04:00  14.985000  56.720001  53.110001  23.200001  11.79
2022-10-28 00:00:00-04:00  14.260000  55.410000  52.950001  22.830000  10.88
2022-10-31 00:00:00-04:00  13.620000  55.619999  54.830002  22.629999  11.32
2022-11-01 00:00:00-04:00  14.560000  59.570000  53.889999  24.540001  12.46
2022-11-02 00:00:00-04:00  16.320000  59.290001  53.610001  25.500000  12.31
2022-11-03 00:00:00-04:00  16.750000  59.150002  56.970001  26.520000  12.68
2022-11-04 00:00:00-04:00  18.309999  62.520000  61.889999  28.000000  13.16
2022-11-07 00:00:00-05:00  18.160000  62.630001  61.720001  26.990000  13.17
2022-11-08 00:00:00-05:00  18.469999  62.130001  62.919998  27.170000  13.12
2022-11-09 00:00:00-05:00  16.180000  59.220001  59.160000  25.000000  12.25
2022-11-10 00:00:00-05:00  17.410000  62.270000  64.050003  27.500000  13.01
2022-11-11 00:00:00-05:00  18.969999  64.760002  65.180000  28.840000  14.01
2022-11-14 00:00:00-05:00  17.959999  65.239998  65.389999  27.719999  13.76
2022-11-15 00:00:00-05:00  18.940001  71.599998  70.970001  29.280001  15.35
2022-11-16 00:00:00-05:00  17.770000  71.330002  67.559998  28.760000  14.81
2022-11-17 00:00:00-05:00  18.360001  71.000000  70.550003  29.170000  15.90
2022-11-18 00:00:00-05:00  17.879999  67.440002  70.150002  28.350000  14.40

                           ...    Volume                               \
                           ...      BIDU      BILI     FUTU        IQ
Date                       ...
2022-10-19 00:00:00-04:00  ...   6378000   9143500  1625000  12669000
2022-10-20 00:00:00-04:00  ...   5067400   6523000  1578500  12007700
2022-10-21 00:00:00-04:00  ...   5433500   7502600  1204000  19975900
2022-10-24 00:00:00-04:00  ...  16008500  20890700  8600200  27883200
2022-10-25 00:00:00-04:00  ...   5837700  12471800  3634000  18082900
2022-10-26 00:00:00-04:00  ...   5258300  15888300  3399100  14605800
2022-10-27 00:00:00-04:00  ...   3724200  10108800  1557900  10596300
2022-10-28 00:00:00-04:00  ...   4607000   9410700  1540100   8387900
2022-10-31 00:00:00-04:00  ...   4298800   6714200  1052600   6140400
2022-11-01 00:00:00-04:00  ...   4369500  12662300  2802300  14029300
2022-11-02 00:00:00-04:00  ...   4339100  10879200  1936700   7315900
2022-11-03 00:00:00-04:00  ...   2924400   8010700  2124400  15211200
2022-11-04 00:00:00-04:00  ...   4838400  21961700  3646700  24208800
2022-11-07 00:00:00-05:00  ...   3041000  16347400  1407900  10052700
2022-11-08 00:00:00-05:00  ...   2022400   9035700  1097900  11352300
2022-11-09 00:00:00-05:00  ...   3183400   9154000  1162000  10982400
2022-11-10 00:00:00-05:00  ...   3620800   9643800  1854500  15268300
2022-11-11 00:00:00-05:00  ...   3585500  10521800  2741200  22910400
2022-11-14 00:00:00-05:00  ...   2812900   7220900  3170800   9991700
2022-11-15 00:00:00-05:00  ...   6126500  24960300  5371000  22637100
2022-11-16 00:00:00-05:00  ...   2967300  13639200  3029700  15289600
2022-11-17 00:00:00-05:00  ...   3618400  13785700  2809200  10285500
2022-11-18 00:00:00-05:00  ...   2951000  10388200  1578500  13557700

                                                                            \
                                 JD        LI     NTES       PDD      TCOM
Date
2022-10-19 00:00:00-04:00  11761100  14375000  1285300  12230900   5112700
2022-10-20 00:00:00-04:00  10832700  12257400  3485100   8832700   4876900
2022-10-21 00:00:00-04:00   8515900   7584900  3790500  13696300   4303000
2022-10-24 00:00:00-04:00  29614400  37180000  5906400  73112000  11601900
2022-10-25 00:00:00-04:00  15122300  20487800  2865400  25890100   6816100
2022-10-26 00:00:00-04:00  22836100  12788700  4070900  28133300   6126400
2022-10-27 00:00:00-04:00  10699500  14480700  1889000  14764500   2949900
2022-10-28 00:00:00-04:00  13592200  12295500  2436000  13659000   4044600
2022-10-31 00:00:00-04:00   9762000  14726000  1865100  13403300   4808800
2022-11-01 00:00:00-04:00  12171600  21373900  2916100  16139000   6148300
2022-11-02 00:00:00-04:00  13751800  38737400  2739200  10571000   6921900
2022-11-03 00:00:00-04:00  11091800  18659300  1504300  12876400   6253400
2022-11-04 00:00:00-04:00  20365400  21830500  3519700  22531500  13294700
2022-11-07 00:00:00-05:00  10360500  13579600  1593300  16456400   8800800
2022-11-08 00:00:00-05:00   9351300   9945300  1349800  10251200   2230900
2022-11-09 00:00:00-05:00   9533900  15431800  1678400   9125700   4215700
2022-11-10 00:00:00-05:00  11966000  14257600  1915900  12182100   5946900
2022-11-11 00:00:00-05:00  12944500  14209200  1553000  12788600   9032900
2022-11-14 00:00:00-05:00  12662500  10693000  1331200  13099500   4452800
2022-11-15 00:00:00-05:00  13060500  12150100  3121100  15846800  11159000
2022-11-16 00:00:00-05:00   6782500   8232800  3585300   8174300   7172200
2022-11-17 00:00:00-05:00  15141200  10994700  4510300  13932100   8111300
2022-11-18 00:00:00-05:00  16758100   5713000  2535400   8056400   4914400


                                WB
Date
2022-10-19 00:00:00-04:00   779600
2022-10-20 00:00:00-04:00  1546200
2022-10-21 00:00:00-04:00   598700
2022-10-24 00:00:00-04:00  1894400
2022-10-25 00:00:00-04:00  1161000
2022-10-26 00:00:00-04:00  3365800
2022-10-27 00:00:00-04:00  2044800
2022-10-28 00:00:00-04:00  1002500
2022-10-31 00:00:00-04:00  2106500
2022-11-01 00:00:00-04:00  3047100
2022-11-02 00:00:00-04:00  1127500
2022-11-03 00:00:00-04:00   613200
2022-11-04 00:00:00-04:00  1526300
2022-11-07 00:00:00-05:00   884500
2022-11-08 00:00:00-05:00   547200
2022-11-09 00:00:00-05:00   833100
2022-11-10 00:00:00-05:00   946000
2022-11-11 00:00:00-05:00   905600
2022-11-14 00:00:00-05:00   823700
2022-11-15 00:00:00-05:00  1462500
2022-11-16 00:00:00-05:00  1060600
2022-11-17 00:00:00-05:00  1866100
2022-11-18 00:00:00-05:00   934400

[23 rows x 70 columns]

In [24]:
yf.download(prepost=True, tickers=list(short_list.Ticker), period='1d', interval='1h')

[*********************100%***********************]  10 of 10 completed

                           Adj Close                                        \
                                BIDU    BILI       FUTU      IQ         JD
2022-11-18 04:00:00-05:00  97.000000  15.460  51.690000  2.8500  56.870000
2022-11-18 05:00:00-05:00  96.500000  15.480  51.650000  2.8900  58.040000
2022-11-18 06:00:00-05:00  96.990000  15.410  51.840000  2.9200  59.060000
2022-11-18 07:00:00-05:00  96.980000  15.520  51.760000  2.9600  60.540000
2022-11-18 08:00:00-05:00  96.720000  15.490  51.660000  2.9400  59.100000
2022-11-18 09:00:00-05:00  96.800000  15.790  51.760000  2.9400  59.200000
2022-11-18 09:30:00-05:00  96.550003  14.780  51.299999  2.7599  57.160000
2022-11-18 10:30:00-05:00  96.169998  14.340  50.709999  2.7150  55.219898
2022-11-18 11:30:00-05:00  95.839996  14.215  50.169998  2.7350  55.488602
2022-11-18 12:30:00-05:00  96.169998  14.550  50.570000  2.7350  56.070000
2022-11-18 13:30:00-05:00  95.970001  14.445  50.594398  2.7450  55.775002
2022-11-18 14:30:00-05:00  96.464996  14.525  50.730000  2.7450  55.830002
2022-11-18 15:30:00-05:00  95.879997  14.690  50.580002  2.7800  56.070000
2022-11-18 16:00:00-05:00  96.140000  14.670  50.630000  2.7800  56.080000
2022-11-18 17:00:00-05:00  96.100000  14.710  50.480000  2.7700  56.000000
2022-11-18 18:00:00-05:00  96.000000  14.620  50.680000  2.7700  56.040000
2022-11-18 19:00:00-05:00  96.150000  14.660  50.840000  2.7500  55.970000

                                                                               \
                                  LI       NTES        PDD       TCOM      WB
2022-11-18 04:00:00-05:00  18.100000  69.100000  69.360000  28.880000  15.400
2022-11-18 05:00:00-05:00  17.960000  69.000000  69.920000  28.500000  15.390
2022-11-18 06:00:00-05:00  18.170000  69.190000  70.400000  28.700000  15.760
2022-11-18 07:00:00-05:00  18.210000  69.950000  71.260000  28.650000  15.600
2022-11-18 08:00:00-05:00  18.270000  69.500000  71.098500  28.740000  15.650
2022-11-18 09:00:00-05:00  18.300000  69.450000  71.100000  28.800000  15.650
2022-11-18 09:30:00-05:00  17.865000  67.220001  69.900002  28.270000  14.915
2022-11-18 10:30:00-05:00  17.840000  67.099998  69.870003  28.139999  14.560
2022-11-18 11:30:00-05:00  17.745001  66.419998  69.790001  28.209999  14.295
2022-11-18 12:30:00-05:00  17.839899  67.129997  69.989998  28.295000  14.310
2022-11-18 13:30:00-05:00  17.750000  67.169998  70.230003  28.305000  14.270
2022-11-18 14:30:00-05:00  17.830000  67.485001  70.779999  28.565001  14.400
2022-11-18 15:30:00-05:00  17.870001  67.419998  70.120003  28.360001  14.440
2022-11-18 16:00:00-05:00  17.900000  67.680000  70.050000  28.350000  14.840
2022-11-18 17:00:00-05:00  17.910000  67.670000  70.060000  28.600000  14.500
2022-11-18 18:00:00-05:00  17.920000  67.570000  70.020000        NaN  14.400
2022-11-18 19:00:00-05:00  17.700000  67.310000  70.250000        NaN  14.500

                           ...   Volume                                     \
                           ...     BIDU     BILI    FUTU       IQ       JD
2022-11-18 04:00:00-05:00  ...        0        0       0        0        0
2022-11-18 05:00:00-05:00  ...        0        0       0        0        0
2022-11-18 06:00:00-05:00  ...        0        0       0        0        0
2022-11-18 07:00:00-05:00  ...        0        0       0        0        0
2022-11-18 08:00:00-05:00  ...        0        0       0        0        0
2022-11-18 09:00:00-05:00  ...        0        0       0        0        0
2022-11-18 09:30:00-05:00  ...  1134373  2946181  470759  4567732  8529142
2022-11-18 10:30:00-05:00  ...   252450  2781863  178270  2257333  2238043
2022-11-18 11:30:00-05:00  ...   319537  1174887  205803  1131915  1364054
2022-11-18 12:30:00-05:00  ...   118605   749405  155259   742124  1062778
2022-11-18 13:30:00-05:00  ...   162784   473400  119541   608614   751983
2022-11-18 14:30:00-05:00  ...   201423   572142  144407   925952   828670
2022-11-18 15:30:00-05:00  ...   455591  1199776  254416  2693168  1284336
2022-11-18 16:00:00-05:00  ...        0        0       0        0        0
2022-11-18 17:00:00-05:00  ...        0        0       0        0        0
2022-11-18 18:00:00-05:00  ...        0        0       0        0        0
2022-11-18 19:00:00-05:00  ...        0        0       0        0        0


                                LI    NTES      PDD       TCOM      WB
2022-11-18 04:00:00-05:00        0       0        0        0.0       0
2022-11-18 05:00:00-05:00        0       0        0        0.0       0
2022-11-18 06:00:00-05:00        0       0        0        0.0       0
2022-11-18 07:00:00-05:00        0       0        0        0.0       0
2022-11-18 08:00:00-05:00        0       0        0        0.0       0
2022-11-18 09:00:00-05:00        0       0        0        0.0       0
2022-11-18 09:30:00-05:00  1812679  775396  3657979  1244427.0  124067
2022-11-18 10:30:00-05:00   576862  470143   904093   658895.0  153269
2022-11-18 11:30:00-05:00   472978  311309   616875   386706.0  162770
2022-11-18 12:30:00-05:00   329897  150174   481407   607921.0   83800
2022-11-18 13:30:00-05:00   239689  131970   434825   300069.0   70666
2022-11-18 14:30:00-05:00   434711  196817   513313   567651.0  107962
2022-11-18 15:30:00-05:00  1297120  386237   989780   899203.0  188620
2022-11-18 16:00:00-05:00        0       0        0        0.0       0
2022-11-18 17:00:00-05:00        0       0        0        0.0       0
2022-11-18 18:00:00-05:00        0       0        0        NaN       0
2022-11-18 19:00:00-05:00        0       0        0        NaN       0

[17 rows x 60 columns]

In [25]:
import plotly.graph_objects as go

# fig = go.Figure(data=go.Scatter(x=jd_hist.index, y=jd_hist['Close'], mode='lines'))
# fig.show()

In [26]:
data = yf.download(tickers='JD', start='2022-01-01', end='2022-06-30', interval='1h')

[*********************100%***********************]  1 of 1 completed

In [27]:
data

,Open,High,Low,Close,Adj Close,Volume
2022-01-03 09:30:00-05:00,68.900002,69.489998,66.870003,67.440002,67.440002,3780738
2022-01-03 10:30:00-05:00,67.459999,68.669998,67.370003,68.370003,68.370003,1709814
2022-01-03 11:30:00-05:00,68.370003,68.820000,67.839996,68.169998,68.169998,866906
2022-01-03 12:30:00-05:00,68.190002,68.489998,68.129997,68.425003,68.425003,463075
2022-01-03 13:30:00-05:00,68.430000,68.699997,68.239998,68.565002,68.565002,418501
...,...,...,...,...,...,...
2022-06-29 11:30:00-04:00,63.924999,64.837997,63.834301,64.360001,64.360001,640318
2022-06-29 12:30:00-04:00,64.349998,64.739998,64.269997,64.400002,64.400002,512697
2022-06-29 13:30:00-04:00,64.400002,64.709999,64.209999,64.540001,64.540001,400865
2022-06-29 14:30:00-04:00,64.519997,64.662201,64.199997,64.660004,64.660004,450826
2022-06-29 15:30:00-04:00,64.669998,64.910004,64.489998,64.860001,64.860001,879566

In [28]:
data_9am = data.iloc[::7]
data_9am['rate'] = (data_9am['Close'] - data_9am['Open']) / data_9am['Open']

/var/folders/hq/zj74p60n6sv9k3cnn88smg0c0000gn/T/ipykernel_21467/2064834986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_9am['rate'] = (data_9am['Close'] - data_9am['Open']) / data_9am['Open']

In [29]:
data_9am

,Open,High,Low,Close,Adj Close,Volume,rate
2022-01-03 09:30:00-05:00,68.900002,69.489998,66.870003,67.440002,67.440002,3780738,-0.021190
2022-01-04 09:30:00-05:00,67.699997,67.839996,63.560001,63.720001,63.720001,6165040,-0.058789
2022-01-05 09:30:00-05:00,63.570000,65.169998,62.170399,65.000000,65.000000,7134761,0.022495
2022-01-06 09:30:00-05:00,65.250000,66.209999,63.665001,65.139999,65.139999,4180441,-0.001686
2022-01-07 09:30:00-05:00,68.389999,69.680000,67.139999,68.290001,68.290001,3412905,-0.001462
...,...,...,...,...,...,...,...
2022-06-23 09:30:00-04:00,62.470001,64.029999,61.490002,63.139999,63.139999,5110089,0.010725
2022-06-24 09:30:00-04:00,63.090000,64.739998,62.599998,64.639999,64.639999,3441802,0.024568
2022-06-27 09:30:00-04:00,67.160004,68.290001,66.029999,66.480003,66.480003,7224106,-0.010125
2022-06-28 09:30:00-04:00,65.699997,66.680000,65.239998,65.809998,65.809998,2905732,0.001674
2022-06-29 09:30:00-04:00,63.720001,64.900002,63.259899,64.449997,64.449997,2298634,0.011456

In [30]:
abs(data_9am.rate).mean()

0.020911391101894043

In [31]:
data_10am = data.iloc[1::7]
# data_10am['rate'] = (data_10am['Close'] - data_10am['Open'])/data_10am['Open']
data_10am.loc[:, 'rate'] = data_10am.apply(lambda row: (row.Close - row.Open) / row.Open, axis=1)
data_10am

/var/folders/hq/zj74p60n6sv9k3cnn88smg0c0000gn/T/ipykernel_21467/1204864440.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_10am.loc[:, 'rate'] = data_10am.apply(lambda row: (row.Close - row.Open) / row.Open, axis=1)

,Open,High,Low,Close,Adj Close,Volume,rate
2022-01-03 10:30:00-05:00,67.459999,68.669998,67.370003,68.370003,68.370003,1709814,0.013490
2022-01-04 10:30:00-05:00,63.730000,63.970001,63.110001,63.770000,63.770000,2778278,0.000628
2022-01-05 10:30:00-05:00,65.000000,65.588699,64.980003,65.040001,65.040001,1927821,0.000615
2022-01-06 10:30:00-05:00,65.099998,67.445000,65.070099,66.989998,66.989998,2075013,0.029032
2022-01-07 10:30:00-05:00,68.250000,68.989998,67.614998,68.910004,68.910004,1531062,0.009670
...,...,...,...,...,...,...,...
2022-06-23 10:30:00-04:00,63.220001,63.660000,61.949799,62.009998,62.009998,1897972,-0.019140
2022-06-24 10:30:00-04:00,64.650002,64.839996,63.900002,64.360001,64.360001,1916380,-0.004486
2022-06-27 10:30:00-04:00,66.459999,66.745003,65.905998,66.129997,66.129997,1738413,-0.004965
2022-06-28 10:30:00-04:00,65.800003,65.800003,64.184799,64.209999,64.209999,1195847,-0.024164
2022-06-29 10:30:00-04:00,64.459999,64.739998,63.889999,63.919998,63.919998,766703,-0.008377

In [32]:
abs(data_10am.rate).mean()

0.009991736558126412

# Test if the market overreact during the pre-market and the first hour

In [33]:
data

,Open,High,Low,Close,Adj Close,Volume
2022-01-03 09:30:00-05:00,68.900002,69.489998,66.870003,67.440002,67.440002,3780738
2022-01-03 10:30:00-05:00,67.459999,68.669998,67.370003,68.370003,68.370003,1709814
2022-01-03 11:30:00-05:00,68.370003,68.820000,67.839996,68.169998,68.169998,866906
2022-01-03 12:30:00-05:00,68.190002,68.489998,68.129997,68.425003,68.425003,463075
2022-01-03 13:30:00-05:00,68.430000,68.699997,68.239998,68.565002,68.565002,418501
...,...,...,...,...,...,...
2022-06-29 11:30:00-04:00,63.924999,64.837997,63.834301,64.360001,64.360001,640318
2022-06-29 12:30:00-04:00,64.349998,64.739998,64.269997,64.400002,64.400002,512697
2022-06-29 13:30:00-04:00,64.400002,64.709999,64.209999,64.540001,64.540001,400865
2022-06-29 14:30:00-04:00,64.519997,64.662201,64.199997,64.660004,64.660004,450826
2022-06-29 15:30:00-04:00,64.669998,64.910004,64.489998,64.860001,64.860001,879566

In [34]:
data_3pm = data.iloc[6::7]

# é‡æ–°å¼€å§‹ï¼

å–JDåˆ†æ—¶æ•°æ®ï¼ŒåŒ…æ‹¬premarket

In [67]:
# jd = yf.Ticker('JD')
# jd_hist = jd.history(prepost=True, period='3mo', interval='1h')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2022-08-12 04:00:00-04:00,56.790000,56.800000,56.640000,56.800000,0,0,0
2022-08-12 05:00:00-04:00,56.980000,57.390000,55.290000,55.540000,0,0,0
2022-08-12 06:00:00-04:00,55.530000,55.770000,54.800000,55.280000,0,0,0
2022-08-12 07:00:00-04:00,55.200000,55.280000,54.970000,55.220000,0,0,0
2022-08-12 08:00:00-04:00,55.190000,55.300000,54.550000,54.980000,0,0,0
...,...,...,...,...,...,...,...
2022-11-11 15:30:00-05:00,48.775002,48.959999,48.764999,48.939999,1072942,0,0
2022-11-11 16:00:00-05:00,48.930000,49.090000,45.500000,49.050000,0,0,0
2022-11-11 17:00:00-05:00,49.030000,49.090000,48.900000,48.900000,0,0,0
2022-11-11 18:00:00-05:00,48.950000,49.050000,48.900000,48.950000,0,0,0
2022-11-11 19:00:00-05:00,49.050000,49.050000,48.910000,48.940000,0,0,0

In [87]:
data = yf.download(tickers='JD', start='2022-01-01', end='2022-06-30', interval='1h', prepost=True)
jd_hist = data

[*********************100%***********************]  1 of 1 completed

ç®—9:30ä¹‹å‰(premarket)çš„return

In [88]:
# å¤åˆ¶ä¸€ä¸‹
jd_hist_calc_premarket = jd_hist.copy()

In [89]:
jd_hist_calc_premarket['time'] = jd_hist_calc_premarket.index.time

In [90]:
jd_hist_calc_premarket['date'] = jd_hist_calc_premarket.index.date

In [91]:
jd_hist_calc_premarket

,Open,High,Low,Close,Adj Close,Volume,time,date
2022-01-03 04:00:00-05:00,69.750000,69.900000,68.010000,68.630000,68.630000,0,04:00:00,2022-01-03
2022-01-03 05:00:00-05:00,68.720000,69.050000,68.630000,69.020000,69.020000,0,05:00:00,2022-01-03
2022-01-03 06:00:00-05:00,68.920000,69.200000,68.840000,69.000000,69.000000,0,06:00:00,2022-01-03
2022-01-03 07:00:00-05:00,69.010000,69.700000,68.960000,69.350000,69.350000,0,07:00:00,2022-01-03
2022-01-03 08:00:00-05:00,69.340000,69.980000,69.210000,69.750000,69.750000,0,08:00:00,2022-01-03
...,...,...,...,...,...,...,...,...
2022-06-29 15:30:00-04:00,64.669998,64.910004,64.489998,64.860001,64.860001,879566,15:30:00,2022-06-29
2022-06-29 16:00:00-04:00,64.850000,64.980000,64.250000,64.920000,64.920000,0,16:00:00,2022-06-29
2022-06-29 17:00:00-04:00,64.850000,64.920000,64.760000,64.854000,64.854000,0,17:00:00,2022-06-29
2022-06-29 18:00:00-04:00,64.850000,64.920000,64.750100,64.920000,64.920000,0,18:00:00,2022-06-29
2022-06-29 19:00:00-04:00,64.900000,65.000000,64.520000,65.000000,65.000000,0,19:00:00,2022-06-29

In [92]:
jd_930_4 = jd_hist_calc_premarket[(jd_hist_calc_premarket.time == datetime.time(hour=4)) | (
        jd_hist_calc_premarket.time == datetime.time(hour=9, minute=0))]

In [93]:
jd_930_4

,Open,High,Low,Close,Adj Close,Volume,time,date
2022-01-03 04:00:00-05:00,69.75,69.90,68.01,68.63,68.63,0,04:00:00,2022-01-03
2022-01-03 09:00:00-05:00,70.07,70.07,68.76,69.21,69.21,0,09:00:00,2022-01-03
2022-01-04 04:00:00-05:00,68.60,68.61,67.73,68.01,68.01,0,04:00:00,2022-01-04
2022-01-04 09:00:00-05:00,67.95,68.05,67.50,67.84,67.84,0,09:00:00,2022-01-04
2022-01-05 04:00:00-05:00,63.68,63.70,63.00,63.30,63.30,0,04:00:00,2022-01-05
...,...,...,...,...,...,...,...,...
2022-06-27 09:00:00-04:00,66.73,67.30,64.01,67.02,67.02,0,09:00:00,2022-06-27
2022-06-28 04:00:00-04:00,65.55,66.23,65.55,66.06,66.06,0,04:00:00,2022-06-28
2022-06-28 09:00:00-04:00,65.65,66.29,65.58,65.75,65.75,0,09:00:00,2022-06-28
2022-06-29 04:00:00-04:00,63.87,64.32,63.64,63.65,63.65,0,04:00:00,2022-06-29
2022-06-29 09:00:00-04:00,64.63,64.70,63.53,63.79,63.79,0,09:00:00,2022-06-29

In [94]:
temp = dict()
for each_date in jd_930_4.date.unique():
    pre_open = float(jd_930_4[(jd_930_4.time == datetime.time(hour=4)) & (jd_930_4.date == each_date)]['Open'])
    pre_close = float(
        jd_930_4[(jd_930_4.time == datetime.time(hour=9, minute=0)) & (jd_930_4.date == each_date)]['Close'])
    temp[each_date] = (pre_close - pre_open) / pre_open

In [95]:
jd_premarket_ret = pd.DataFrame.from_dict(data=temp, orient='index', columns=['Premarket Return'])

In [96]:
jd_premarket_ret

            Premarket Return
2022-01-03         -0.007742
2022-01-04         -0.011079
2022-01-05         -0.002513
2022-01-06         -0.000766
2022-01-07         -0.002631
...                      ...
2022-06-23          0.022951
2022-06-24          0.002701
2022-06-27          0.002393
2022-06-28          0.003051
2022-06-29         -0.001253

[123 rows x 1 columns]

In [149]:
jd_premarket_movement = jd_premarket_ret[abs(jd_premarket_ret['Premarket Return']) > 0.05].copy()

In [150]:
jd_premarket_movement

            Premarket Return
2022-03-10         -0.133987
2022-03-14         -0.101483
2022-03-16          0.139139
2022-04-01          0.063487
2022-04-29          0.114896

ç®—9:30-10:30çš„æ”¶ç›Š

In [99]:
jd_1030_930 = jd_hist_calc_premarket[jd_hist_calc_premarket.time == datetime.time(hour=9, minute=30)].copy()

In [100]:
jd_1030_930

,Open,High,Low,Close,Adj Close,Volume,time,date
2022-01-03 09:30:00-05:00,68.900002,69.489998,66.870003,67.440002,67.440002,3780738,09:30:00,2022-01-03
2022-01-04 09:30:00-05:00,67.699997,67.839996,63.560001,63.720001,63.720001,6165040,09:30:00,2022-01-04
2022-01-05 09:30:00-05:00,63.570000,65.169998,62.170399,65.000000,65.000000,7134761,09:30:00,2022-01-05
2022-01-06 09:30:00-05:00,65.250000,66.209999,63.665001,65.139999,65.139999,4180441,09:30:00,2022-01-06
2022-01-07 09:30:00-05:00,68.389999,69.680000,67.139999,68.290001,68.290001,3412905,09:30:00,2022-01-07
...,...,...,...,...,...,...,...,...
2022-06-23 09:30:00-04:00,62.470001,64.029999,61.490002,63.139999,63.139999,5110089,09:30:00,2022-06-23
2022-06-24 09:30:00-04:00,63.090000,64.739998,62.599998,64.639999,64.639999,3441802,09:30:00,2022-06-24
2022-06-27 09:30:00-04:00,67.160004,68.290001,66.029999,66.480003,66.480003,7224106,09:30:00,2022-06-27
2022-06-28 09:30:00-04:00,65.699997,66.680000,65.239998,65.809998,65.809998,2905732,09:30:00,2022-06-28
2022-06-29 09:30:00-04:00,63.720001,64.900002,63.259899,64.449997,64.449997,2298634,09:30:00,2022-06-29

In [101]:
jd_1030_930['return'] = (jd_1030_930['Close'] - jd_1030_930['Open']) / jd_1030_930['Open']

In [102]:
jd_first_hour = jd_1030_930[abs(jd_1030_930['return']) > 0.05][['date', 'return']]

In [103]:
jd_first_hour.set_index('date')

              return
date
2022-01-04 -0.058789
2022-01-11  0.053521
2022-03-11 -0.076084
2022-03-14  0.052007
2022-03-15  0.145053
2022-03-18  0.067517
2022-03-21 -0.065461
2022-05-09 -0.058505

â†‘ ä¸Šé¢ç®—å®Œäº†pre-marketå’Œ9:30-10:30çš„ï¼ŒæŽ¥ä¸‹æ¥ç®—ç¬¬äºŒå¤©å–æŽ‰çš„æ”¶ç›Š
1. æ‹¿åˆ°ç¬¬äºŒå¤©çš„æ—¥æœŸï¼ˆè¦ä¸€ä¸ªæ—¥æœŸlistï¼‰
2. æŠŠ premarket å’Œç¬¬ä¸€ä¸ªå°æ—¶çš„åˆ†å¼€
3.

In [104]:
# trading days list
trading_days = list(yf.download('^GSPC', start='2018-01-01', interval='1d').index.date)

[*********************100%***********************]  1 of 1 completed

In [105]:
def get_next_trading_date(curr_date):
    return trading_days[trading_days.index(curr_date) + 1]

In [106]:
print(get_next_trading_date(datetime.date(2018, 1, 3)))

2018-01-04

In [111]:
jd_first_hour['next_trading_date'] = jd_first_hour.apply(lambda d: get_next_trading_date(d.name.date()), axis=1)

In [136]:
jd_first_hour['this_1030'] = jd_first_hour.apply(lambda row: jd_hist_calc_premarket[
    (jd_hist_calc_premarket['date'] == row['date']) & (
            jd_hist_calc_premarket['time'] == datetime.time(hour=10, minute=30))].iloc[0, 0], axis=1)
# iloc[0,0]: å–10:30çš„open

In [137]:
jd_hist_calc_premarket

,Open,High,Low,Close,Adj Close,Volume,time,date
2022-01-03 04:00:00-05:00,69.750000,69.900000,68.010000,68.630000,68.630000,0,04:00:00,2022-01-03
2022-01-03 05:00:00-05:00,68.720000,69.050000,68.630000,69.020000,69.020000,0,05:00:00,2022-01-03
2022-01-03 06:00:00-05:00,68.920000,69.200000,68.840000,69.000000,69.000000,0,06:00:00,2022-01-03
2022-01-03 07:00:00-05:00,69.010000,69.700000,68.960000,69.350000,69.350000,0,07:00:00,2022-01-03
2022-01-03 08:00:00-05:00,69.340000,69.980000,69.210000,69.750000,69.750000,0,08:00:00,2022-01-03
...,...,...,...,...,...,...,...,...
2022-06-29 15:30:00-04:00,64.669998,64.910004,64.489998,64.860001,64.860001,879566,15:30:00,2022-06-29
2022-06-29 16:00:00-04:00,64.850000,64.980000,64.250000,64.920000,64.920000,0,16:00:00,2022-06-29
2022-06-29 17:00:00-04:00,64.850000,64.920000,64.760000,64.854000,64.854000,0,17:00:00,2022-06-29
2022-06-29 18:00:00-04:00,64.850000,64.920000,64.750100,64.920000,64.920000,0,18:00:00,2022-06-29
2022-06-29 19:00:00-04:00,64.900000,65.000000,64.520000,65.000000,65.000000,0,19:00:00,2022-06-29

In [135]:
# å–10:30çš„open
# jd_first_hour.apply(lambda row: jd_hist_calc_premarket[(jd_hist_calc_premarket['date']==row['date']) & (jd_hist_calc_premarket['time']==datetime.time(hour=10,minute=30))].iloc[0,0],axis=1)

2022-01-04 09:30:00-05:00    63.730000
2022-01-11 09:30:00-05:00    74.809998
2022-03-11 09:30:00-05:00    49.790001
2022-03-14 09:30:00-04:00    45.230000
2022-03-15 09:30:00-04:00    47.680000
2022-03-18 09:30:00-04:00    65.279999
2022-03-21 09:30:00-04:00    58.430000
2022-05-09 09:30:00-04:00    50.549999
dtype: float64

In [139]:
jd_first_hour['next_1030'] = jd_first_hour.apply(lambda row: jd_hist_calc_premarket[
    (jd_hist_calc_premarket['date'] == row['next_trading_date']) & (
            jd_hist_calc_premarket['time'] == datetime.time(hour=10, minute=30))].iloc[0, 0], axis=1)

In [141]:
jd_first_hour['strategy_return'] = (jd_first_hour.next_1030 - jd_first_hour.this_1030) / jd_first_hour.this_1030

In [144]:
# åªçœ‹å‰ä¸€å¤©è·Œäº†çš„
jd_first_hour[jd_first_hour['return'] < 0]

,date,return,next_trading_date,this_1030,next_1030,strategy_return
2022-01-04 09:30:00-05:00,2022-01-04,-0.058789,2022-01-05,63.730000,65.000000,0.019928
2022-03-11 09:30:00-05:00,2022-03-11,-0.076084,2022-03-14,49.790001,45.230000,-0.091585
2022-03-21 09:30:00-04:00,2022-03-21,-0.065461,2022-03-22,58.430000,64.750000,0.108164
2022-05-09 09:30:00-04:00,2022-05-09,-0.058505,2022-05-10,50.549999,52.869999,0.045895

In [157]:
# premarketé‡å¤ä¸€éç±»ä¼¼çš„
jd_premarket_movement[jd_premarket_movement['Premarket Return']<0]

,Premarket Return,next_trading_date,this_1030,next_1030,strategy_return
2022-03-10,-0.133987,2022-03-11,54.615002,49.790001,-0.088346
2022-03-14,-0.101483,2022-03-15,45.230000,47.680000,0.054168

In [151]:
jd_premarket_movement['next_trading_date'] = jd_premarket_movement.apply(lambda d: get_next_trading_date(d.name),
                                                                         axis=1)
jd_premarket_movement['this_1030'] = jd_premarket_movement.apply(lambda row: jd_hist_calc_premarket[
    (jd_hist_calc_premarket['date'] == row.name) &
    (jd_hist_calc_premarket['time'] == datetime.time(hour=10, minute=30))
    ].iloc[0, 0], axis=1)
jd_premarket_movement['next_1030'] = jd_premarket_movement.apply(lambda row: jd_hist_calc_premarket[
    (jd_hist_calc_premarket['date'] == row['next_trading_date']) & (
            jd_hist_calc_premarket['time'] == datetime.time(hour=10, minute=30))].iloc[0, 0], axis=1)

In [155]:
jd_premarket_movement['strategy_return'] = (jd_premarket_movement.next_1030 - jd_premarket_movement.this_1030) / jd_premarket_movement.this_1030

# å‡†å¤‡æ‰¹é‡å¤„ç†æ•°æ®
callä¸€æ¬¡APIï¼Œæ‹†åˆ†æ•°æ®ï¼Œå­˜åˆ°ä¸€ä¸ªdict

In [165]:
tickers = list(stock_list['Ticker'].head(10))

In [166]:
temp = yf.download(tickers,start='2022-11-14',end='2022-11-18',interval='1h')

[*********************100%***********************]  10 of 10 completed

In [167]:
temp

                            Adj Close                                \
                                 BIDU       BILI       FUTU      IQ
2022-11-14 09:30:00-05:00   91.169998  13.110000  48.564999  2.7250
2022-11-14 10:30:00-05:00   91.830002  13.040000  48.669998  2.7350
2022-11-14 11:30:00-05:00   91.639999  13.020000  48.959999  2.7100
2022-11-14 12:30:00-05:00   91.870003  13.120000  49.439999  2.7299
2022-11-14 13:30:00-05:00   92.519997  13.080000  49.119999  2.7390
2022-11-14 14:30:00-05:00   92.480003  13.065000  49.180000  2.7150
2022-11-14 15:30:00-05:00   91.459999  12.880000  49.009998  2.6600
2022-11-15 09:30:00-05:00   98.064598  15.639700  52.080002  3.0100
2022-11-15 10:30:00-05:00   99.745003  16.180000  51.380001  3.1000
2022-11-15 11:30:00-05:00  101.190002  16.660000  53.320000  3.2093
2022-11-15 12:30:00-05:00   99.669998  16.280001  52.785000  3.1705
2022-11-15 13:30:00-05:00   99.559998  16.378000  53.549999  3.1600
2022-11-15 14:30:00-05:00   99.980003  16.410000  53.549999  3.1200
2022-11-15 15:30:00-05:00   99.760002  16.280001  53.840000  3.0950
2022-11-16 09:30:00-05:00   95.629997  15.925000  51.240002  2.8615
2022-11-16 10:30:00-05:00   94.970001  15.595000  51.145000  2.7900
2022-11-16 11:30:00-05:00   94.620003  15.400000  50.645000  2.8000
2022-11-16 12:30:00-05:00   95.080002  15.820000  50.665001  2.8400
2022-11-16 13:30:00-05:00   94.839996  15.725000  50.630001  2.8750
2022-11-16 14:30:00-05:00   94.629997  15.490000  50.474998  2.8550
2022-11-16 15:30:00-05:00   94.750000  15.460000  50.360001  2.8600
2022-11-17 09:30:00-05:00   97.849998  16.219999  52.320000  2.9100
2022-11-17 10:30:00-05:00   98.410004  15.995000  53.224998  2.9350
2022-11-17 11:30:00-05:00   98.889999  15.865000  52.455002  2.9400
2022-11-17 12:30:00-05:00   99.260002  15.849900  52.770000  2.9600
2022-11-17 13:30:00-05:00   98.660004  15.549400  52.380001  2.9650
2022-11-17 14:30:00-05:00   98.669998  15.640000  52.131901  2.9400
2022-11-17 15:30:00-05:00   99.620003  15.800000  52.259998  2.9597

                                                                       \
                                  JD         LI       NTES        PDD
2022-11-14 09:30:00-05:00  51.279999  18.790001  65.669998  65.320000
2022-11-14 10:30:00-05:00  51.380001  18.295000  65.925003  65.455002
2022-11-14 11:30:00-05:00  51.389999  18.280001  65.660004  65.709999
2022-11-14 12:30:00-05:00  51.217701  18.305000  65.669998  65.529999
2022-11-14 13:30:00-05:00  51.369999  18.344999  65.870003  65.510002
2022-11-14 14:30:00-05:00  51.070000  18.129999  65.559998  65.510002
2022-11-14 15:30:00-05:00  50.840000  17.969999  65.300003  65.410004
2022-11-15 09:30:00-05:00  55.470001  19.170000  70.559998  71.120003
2022-11-15 10:30:00-05:00  54.849998  19.531200  71.934998  71.449997
2022-11-15 11:30:00-05:00  54.930000  19.240000  72.355003  72.059998
2022-11-15 12:30:00-05:00  54.259998  18.885000  71.550003  71.372002
2022-11-15 13:30:00-05:00  54.259998  19.040001  71.894997  71.230003
2022-11-15 14:30:00-05:00  54.465000  18.905001  72.165001  71.120003
2022-11-15 15:30:00-05:00  54.480000  18.940001  71.610001  70.949997
2022-11-16 09:30:00-05:00  53.220001  17.715000  73.419998  68.209999
2022-11-16 10:30:00-05:00  53.580002  17.865000  72.730003  67.989998
2022-11-16 11:30:00-05:00  53.490002  17.815001  71.820000  68.160004
2022-11-16 12:30:00-05:00  53.580002  17.805000  71.610001  68.070000
2022-11-16 13:30:00-05:00  53.470001  17.795000  71.459999  67.800003
2022-11-16 14:30:00-05:00  53.485001  17.700001  71.430000  67.834999
2022-11-16 15:30:00-05:00  53.490002  17.760000  71.330002  67.570000
2022-11-17 09:30:00-05:00  56.020000  17.915001  73.809998  70.830002
2022-11-17 10:30:00-05:00  56.299999  17.990000  71.379997  71.250000
2022-11-17 11:30:00-05:00  56.880001  18.110001  70.739998  70.690002
2022-11-17 12:30:00-05:00  57.701698  18.299999  70.959999  70.500000
2022-11-17 13:30:00-05:00  57.169998  18.090000  70.660004  70.099998
2022-11-17 14:30:00-05:00  57.529999  18.190001  71.199997  70.150002
2022-11-17 15:30:00-05:00  57.520000  18.370001  71.029999  70.519997

                                               ...   Volume                    \
                                TCOM       WB  ...     BIDU     BILI     FUTU
2022-11-14 09:30:00-05:00  28.230000  13.9850  ...   665184  3497116  1414322
2022-11-14 10:30:00-05:00  28.200001  13.9100  ...   617787  1088872   761753
2022-11-14 11:30:00-05:00  28.230000  13.8975  ...   318208   601742   189044
2022-11-14 12:30:00-05:00  28.240000  13.8550  ...   154888   365177   119648
2022-11-14 13:30:00-05:00  28.135000  13.9050  ...   138920   343533   192309
2022-11-14 14:30:00-05:00  28.055000  13.8850  ...   294874   476738   129173
2022-11-14 15:30:00-05:00  27.730000  13.7500  ...   405736   625043   231841
2022-11-15 09:30:00-05:00  29.780001  14.8450  ...  1735293  7170883  2828125
2022-11-15 10:30:00-05:00  29.969999  15.2800  ...   918513  5694345   641899
2022-11-15 11:30:00-05:00  30.120001  15.6500  ...   790283  3206886   581693
2022-11-15 12:30:00-05:00  29.690001  15.3550  ...   626453  2699973   374794
2022-11-15 13:30:00-05:00  29.400000  15.3500  ...   621089  2150758   268278
2022-11-15 14:30:00-05:00  29.285000  15.3900  ...   454332  1364063   182129
2022-11-15 15:30:00-05:00  29.299999  15.3300  ...   680560  2200078   351100
2022-11-16 09:30:00-05:00  29.160000  14.9000  ...   950743  6705836  1064611
2022-11-16 10:30:00-05:00  29.200001  14.8000  ...   449891  2106023   400284
2022-11-16 11:30:00-05:00  29.570000  14.6200  ...   210297   893880   335031
2022-11-16 12:30:00-05:00  29.160000  14.7900  ...   263290  1169120   213616
2022-11-16 13:30:00-05:00  28.965000  14.8150  ...   191247   696407   271023
2022-11-16 14:30:00-05:00  29.020000  14.7650  ...   211681   647233   190726
2022-11-16 15:30:00-05:00  28.750000  14.8500  ...   413330  1183445   279624
2022-11-17 09:30:00-05:00  29.590000  14.1900  ...  1135089  5366461  1072087
2022-11-17 10:30:00-05:00  29.650000  14.8700  ...   537768  2543623   750560
2022-11-17 11:30:00-05:00  29.459999  15.3800  ...   425512  1403986   248312
2022-11-17 12:30:00-05:00  29.490000  15.7700  ...   175185   931307   142734
2022-11-17 13:30:00-05:00  29.155001  15.9000  ...   212366   841994   132426
2022-11-17 14:30:00-05:00  29.110001  15.7450  ...   288763  1068525   162991
2022-11-17 15:30:00-05:00  29.170000  15.9050  ...   366265  1390571   234709

                                                                        \
                                IQ       JD       LI     NTES      PDD
2022-11-14 09:30:00-05:00  5214904  4642935  4754699   377585  5676797
2022-11-14 10:30:00-05:00  1177465  1750419  1547755   185084  1374029
2022-11-14 11:30:00-05:00   814400  1411555   759246   134492  1080760
2022-11-14 12:30:00-05:00   329466   555166   492668    81616   527792
2022-11-14 13:30:00-05:00   410907   724087   543665    92728  1908686
2022-11-14 14:30:00-05:00   544696  1134743   913573   110514   526850
2022-11-14 15:30:00-05:00  1108976  1972526  1416993   270589  1055634
2022-11-15 09:30:00-05:00  9189825  4640724  4476117   927300  7360175
2022-11-15 10:30:00-05:00  5479054  1915564  1914626   528642  1803566
2022-11-15 11:30:00-05:00  2039656  1305327  1458836   341045  1711582
2022-11-15 12:30:00-05:00  1863974   841822   861490   221501  1213170
2022-11-15 13:30:00-05:00  1372617  1321804   989854   256329  1565539
2022-11-15 14:30:00-05:00   873469   976079   872193   247788   786384
2022-11-15 15:30:00-05:00  1432128  1659681  1283856   462955  1007074
2022-11-16 09:30:00-05:00  5276488  1914989  2839094  1548645  3904136
2022-11-16 10:30:00-05:00  2889529   854674  1483676   466870  1103008
2022-11-16 11:30:00-05:00  1478622   519277   809300   433594   488899
2022-11-16 12:30:00-05:00  1280298   514636   543127   186368   564041
2022-11-16 13:30:00-05:00  1332934   495255   459263   209856   363778
2022-11-16 14:30:00-05:00  1386847   580676   657198   214671   379274
2022-11-16 15:30:00-05:00  1391485  1414325  1045530   363121   743040
2022-11-17 09:30:00-05:00  4848231  3077251  3572028  1914669  4468544
2022-11-17 10:30:00-05:00  1297602  4224300  1771072   618906  2801445
2022-11-17 11:30:00-05:00  1020850  1953864  1373818   739161  1128572
2022-11-17 12:30:00-05:00  1038673  1251931   814785   438011   552388
2022-11-17 13:30:00-05:00   427030  1218816   667954   154112  1616000
2022-11-17 14:30:00-05:00   455002  1340995   564976   188658   700903
2022-11-17 15:30:00-05:00  1020106  1610985  1099477   332011   895105


                              TCOM      WB
2022-11-14 09:30:00-05:00  1299430  316344
2022-11-14 10:30:00-05:00   614292   66778
2022-11-14 11:30:00-05:00   355552  109742
2022-11-14 12:30:00-05:00   238999   48464
2022-11-14 13:30:00-05:00   350581   52579
2022-11-14 14:30:00-05:00   427112   58076
2022-11-14 15:30:00-05:00   897721  116109
2022-11-15 09:30:00-05:00  5260205  399050
2022-11-15 10:30:00-05:00  1025495  274074
2022-11-15 11:30:00-05:00  1034932  205215
2022-11-15 12:30:00-05:00   871180  122158
2022-11-15 13:30:00-05:00   632356  107141
2022-11-15 14:30:00-05:00   727550   98330
2022-11-15 15:30:00-05:00  1313250  204487
2022-11-16 09:30:00-05:00  1709119  120863
2022-11-16 10:30:00-05:00   931589  129624
2022-11-16 11:30:00-05:00   873553   77304
2022-11-16 12:30:00-05:00   594814   98683
2022-11-16 13:30:00-05:00   542655  121296
2022-11-16 14:30:00-05:00   595230  123416
2022-11-16 15:30:00-05:00  1469894  328237
2022-11-17 09:30:00-05:00  1873388  642839
2022-11-17 10:30:00-05:00  1486969  278917
2022-11-17 11:30:00-05:00   871525  195281
2022-11-17 12:30:00-05:00   540148  126322
2022-11-17 13:30:00-05:00   546484  130185
2022-11-17 14:30:00-05:00   940307  155005
2022-11-17 15:30:00-05:00  1551187  289030

[28 rows x 60 columns]

In [205]:
test_name_dict=dict()
for each_stock in list(stock_list['Ticker']):
    temp = yf.download(each_stock,period="1d",interval="1d",progress=False)
    test_name_dict[each_stock] = temp.iloc[0,3] if len(temp)>0 else -1

1 Failed download:
- QNIU: No data found, symbol may be delisted

1 Failed download:
- LDOC: No data found for this date range, symbol may be delisted

1 Failed download:
- HLG: No data found, symbol may be delisted

1 Failed download:
- FEDU: No data found for this date range, symbol may be delisted

1 Failed download:
- FHS: No data found for this date range, symbol may be delisted

1 Failed download:
- LDOC: No data found for this date range, symbol may be delisted

1 Failed download:
- QNIU: No data found, symbol may be delisted

In [211]:

[k for k,v in test_name_dict.items() if v == -1]

['QNIU', 'LDOC', 'HLG', 'FEDU', 'FHS']

In [204]:
len(list(stock_list['Ticker']))

217

In [ ]:
'''
QNIU
LDOC
ATHM
HLG
LDOC
QNIU
'''